.main {

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.bg {

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  z-index: 0;
  opacity: 0.5;
}

.content {

  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
  max-height: 20rem;
  overflow-y: scroll;

  > div {

    border-bottom: 1px solid #ECECEC;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
  }
}